export(zelig2logit.blme)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
import(blme)
S3method(coef,zelig)
S3method(describe,logit.blme)
S3method(model.frame,lmer)
S3method(param,logit.blme)
S3method(plot,zelig)
S3method(qi,logit.blme)
S3method(vcov,zelig)